body {
    background-image: url('../photos/Mars_Perseverance_NRF_1477_0798068324_417ECM_N0720542NCAM02477_10_195J.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}